.statlist{
display: flex;
list-style: none;


}

.item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
}

.label{
    font-size: medium;
    
    
}

.percentage{
    font-size: x-large;
}